*{
    box-sizing: border-box;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*************** main page *****************/

.register{
    width: 100%;
    height: 70vh;
    background-color: #000;
    color: #fff;
    text-align: center;
    position: relative;
}
.register button{
    background-color: #000;
}
.regi_bg{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.regi_bg_img{
    height: 100%;
    position: absolute;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.regi_bg_img:nth-child(2){
    display: none;
}
.regi_bg_m{
    opacity: 0;
}
.regi_prod{
    display: none;
}
.regi_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    font-size: 1vw;
    
}
.regi_txt_m{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    font-size: 1vw;
}
.regi_txt_m h2{
    color: #fff;
}
.regi_txt_m h3{
    color: #fff;
}

.regi_txt h2{
    margin: 15px;
    color: #fff;
}
.regi_txt h3{
    margin: 15px;
    color: #fff;
}
.register button{
    width: 30%;
    height: 50px;
    border: 1px solid #ccc;
    color: #fff;
    margin: 15px;
}

/*******************main tablet ********************/

 @media only screen and (max-width: 1200px) {

    .regi_bg_img{
        opacity: 0;
    }
    .regi_bg_m{
        width: 100%;
        height: 80%;
        opacity: 1;
        position: relative;
        background-color: #d7d7d7;
    }
    .regi_bg_m img{
        width: 40%;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 0;
    }
    .regi_prod{
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 15%;
        display: block;
        opacity: 0;
    }


    .regi_txt{
        display: none;
    }
    .regi_txt_m{
        width: 100%;
        display: block;
        font-size: 1.5vw;
        top: 85%;
        left: 50%;
        opacity: 0;
    }


  }

/*******************main mobile ********************/

  @media only screen and (max-width: 768px) {

    .regi_prod{
        width: 25%;
        bottom: 0%;
    }
    .regi_bg_m img{
        width: 60%;
        bottom: 0;
    }
    .regi_txt_m{
        font-size: 2.5vw;
    }
  
    .regi_prod img{
        width: 80%;
    }

  }


/******************************************/
/*************** sub page *****************/



.regi_wrap{
    width: 60%;
    margin: auto;
}
.regi_sect{
    width: 100%;
    height: 90vh;
}
.regi_sect2{
    position: relative;
}
/************* section1 ****************/
.regi_sect1{
    padding-top: 70px;
}
.regi_sect1 .title1{
    text-align: center;
}
.regi_wrap{
    height: 80%;
    flex-direction: column;
}
.regi_sect1 h1{
    height: 20%;
}
.why{
    width: 80%;
    margin-top: 50px;
}
.why img{
    width: 100%;
}
.why_txt{
    width: 80%;
    height: 50%;
}
.why_txt li{
    width: 25%;
    height: 100%;
    float: left;
    padding: 10px;
    text-align: center;
    font-size: 0.9vw;
    
}
.regi_sect1_m{
    display: none;
}

/**************** section2 ******************/

.regi_sect2_title{
    width: 100%;
    height: 30%;
    background-color: #231f20;
}
.regi_sect2_title .regi_wrap{
    height: 100%;
}
.tit{
    width: 50%;
    height: 100%;
}
.tit h2{
    color: #fff;
    font-size: 30px;
}
.tit:first-child{
    float: left;
}
.tit:last-child{
    float: right;
    position: relative;
}
.tit:last-child img{
    position: absolute;
    bottom: 0;
}
.regi_sect2_bg{
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
}
.regi_sect2_bg .bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.regi_sect2_bg .bg:nth-child(2){
    display: none;
}
.regi_sect2_bg .box_wrap{
    width: 500px;
    height: 350px;
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.regi_sect2_bg .box{
    width: 250px;
    height: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: relative;
    opacity: 1;
}
.regi_sect2_bg .box img{
    position: absolute;
    width: 80%;
    top: 5%;
    left: 10%;
}
.regi_sect2_bg .box p{
    bottom: 10%;
    left: 35%;
    position: absolute;
}

/******* input tag ******/

.regi_paper{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    width: 470px;
    height: 620px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 5px 10px 8px rgba(0,0,0,0.5);
    font-size: 16px;
    text-align: center;
    display: none;
}
.form{
    width: 100%;
    height: 100%;
    opacity: 1;
    position: relative;
    left: 0;
    top: 0;
    padding: 10px;
}
.regi_paper .close{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
}
.regi_paper .close img{
    width: 100%;
}
.form h2{
    padding: 15px;
}
.form h3{
    padding: 10px;
}
.form button, .fin button{
    width: 150px;
    height: 50px;
    background: #333;
    color: #fff;
    margin: 10px;
}
.fin{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.fin_wrap{
    width: 100%;
    position: absolute;
    top: 35%;
}
.fin img{
    width: 15%;
}
.fin p{
    font-size: 1.3vw;
}
.field{
    width: 100%;
    height: 60px;
    float: left;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    padding: 10px;
}
.field p{
    position: absolute;
    top: -3px;
    left: 25px;
    background-color: #fff;
}
.half{
    width: 50%;    
    justify-content: center;
}
input{
    width: 100%;
    height: 100%;
}
/*************sub tablet ****************/

@media only screen and (max-width: 1200px) {
    .regi_wrap{
        width: 100%;
    }
    .tit{
        font-size: 1.2vw;
    }
    .fin p{
        font-size: 2.5vw;
    }
    .regi_sect1 .regi_wrap{
        padding: 5%;
    } 
    .why{
        width: 100%;
        margin-top: 20px;
    }
    
    .why_txt{
        width: 100%;
        height: 100%;
    }
    .why_txt li{
        font-size: 1.7vw;
    }

  }

/*************sub mobile ****************/

  @media only screen and (max-width: 768px) {
    .regi_sect1_m{
        width: 100%;
        height: 100%;
        display: block;
    }
    .regi_sect1_m li{
        height: 25%;
        display: flex;
        align-items: center;
    }

    .regi_sect1_m .img_box{
        height: 90px;
        width: 90px;
        margin: 3%;
        border: 2px solid #ccc;
        border-radius: 50%;
    }
    .regi_sect1_m .img_box img{
        width: 70%;
    }
    .regi_sect1_m .txt{
        width: 75%;
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 2.6vw;

    }
    .regi_sect1_desk{
        display: none;
    }
    .regi_sect2_title{
        height: 15%;
        text-align: center;
    }
    .tit:first-child{
        width: 100%;
        font-size: 2vw;
    }
    .tit:last-child{
        display: none;
    }
    .regi_sect2_bg{
      height: 85%;
    }
    .regi_sect2_bg .box_wrap{
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin-top: 30px;
        border: 1px solid #000;
    }
    .regi_sect2_bg .box{
        width: 500px;
        height: 300px;
        margin: 20px;
        border: 1px solid #ccc;
        background-color: #fff;
        position: relative;
        opacity: 1;
    }

    .regi_sect2_bg .box img{

        width: 40%;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    .regi_sect2_bg .box p{
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
    }


 
  }