/* 첫번째 페이지 */ /* 첫번째 페이지 */ /* 첫번째 페이지 */ /* 첫번째 페이지 */ /* 첫번째 페이지 */

.s_arti0,
.s_arti {
  width: 100%;
  height: 100vh;
}

.s_arti1 {
  display: flex;
  flex-wrap: wrap;
  background-image: url(../img/star-2720923_1920.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
}
.s_arti1 > div {
  border: 1px solid rgb(255, 255, 255);
  height: 50%;
  color: black;
  font-size: 30px;
  flex: 1;
  flex-basis: 50%;
}
.s_arti1 > div > div {
  width: 100%;
  height: 100%;
  background-color: rgba(216, 216, 216, 0.5);
}
.s_arti1 > div > div:hover {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69, 72, 77); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.s_arti1 > div > div p {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  padding-top: 9%;
  color: white;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.712);
}
.s_arti1 > div > div.s_pp p {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px black;
  transition: 1s;
}
.s_arti1_bg1,
.s_arti1_bg2,
.s_arti1_bg3,
.s_arti1_bg4 {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.s_arti1_bg1:after,
.s_arti1_bg2:after,
.s_arti1_bg3:after,
.s_arti1_bg4:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  opacity: 0.3;
  filter: alpha(opacity=50);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.s_arti1_bg h6 {
  width: 8.5%;
  height: 10%;
  background-image: url(../img/por_moving-27353_640.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 3px double rgba(80, 80, 80, 0.753);
  border-radius: 100%;
  background-color: white;
  position: absolute;
  right: 3%;
  box-shadow: 2px 5px 5px black;
  bottom: 3%;
  opacity: 0;
}
.s_arti1 > div > div.s_kk .s_arti1_bg1:after,
.s_arti1 > div > div.s_kk .s_arti1_bg2:after,
.s_arti1 > div > div.s_kk .s_arti1_bg3:after,
.s_arti1 > div > div.s_kk .s_arti1_bg4:after {
  transition-delay: 0.5s;
  opacity: 1 !important;
  background-size: 100% 100%;
}
.s_arti1 > div > div.s_kk .s_flex img,
.s_arti1 > div > div.s_kk .s_arti1_bg h6 {
  transition-delay: 1s;
  transition: 2s;
  opacity: 0.9 !important;
}
.s_arti1 > div.s_oo {
  transition: 1s;
  background-color: white;
}
.s_arti1 > div.s_oo > div {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69, 72, 77); /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgb(117, 119, 122) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgb(117, 119, 122) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgb(117, 119, 122) 0%,
    rgba(0, 0, 0, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.s_flex {
  display: none;
}
.s_arti1_bg img {
  margin-top: 5%;
  width: 20%;
  height: 40%;
  display: inline-block;
  text-align: center;
  opacity: 0;
}
.s_arti1_bg3 img {
  width: 35%;
}
.s_arti1_bg4 img {
  width: 45%;
}
.s_arti1_bg4 img:nth-child(1) {
  margin-top: 50px;
  width: 55%;
}
.s_arti1 > div > div.s_ll .s_flex {
  display: flex;
  justify-content: center;
}

/* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */
/* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */
/* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */ /* 두번째 페이지 */

.s_arti .swiper-container {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.s_arti .swiper-slide {
  background-position: center;
  background-size: cover;
}
.s_arti .swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
}

.s_arti {
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 3px inset gray;
}

.s_position1 {
  width: 50vw;
  height: 50vh;
  transform: rotate(-40deg);
  border: 1px solid #000;
  margin: -150px 0 0 -350px;
}

@media screen and (max-width: 586px) {
  .s_arti1_bg1,
  .s_arti1_bg2,
  .s_arti1_bg3 {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .s_arti1_bg1:after,
  .s_arti1_bg2:after,
  .s_arti1_bg3:after {
    content: "";
    background-image: url(../img/pro_rap_img2.jpg);
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover !important;
    opacity: 0.3;
    filter: alpha(opacity=50);
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .s_arti1_bg1:after {
    background-image: url(../img/pro_dry_img2.jpg);
    opacity: 0.8 !important;
  }
  .s_arti1_bg2:after {
    background-image: url(../img/pro_dry_img2.jpg);
    opacity: 0.8 !important;
  }
  .s_arti1_bg3:after {
    background-image: url(../img/pro_dry_img1.jpg);
    opacity: 0.8 !important;
  }

  .s_arti1_bg h6 {
    width: 12%;
    height: 10%;
    background-image: url(../img/por_moving-27353_640.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 3px double rgba(80, 80, 80, 0.753);
    border-radius: 100%;
    background-color: rgba(172, 172, 172, 0.616);
    position: absolute;
    right: 3%;
    box-shadow: 2px 5px 5px black;
    bottom: 3%;
    opacity: 0;
  }
  .s_arti1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/star-2720923_1920.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .s_arti1 > div.s_oo {
    flex: 3;
    transition: 1s;
    background-color: white;
  }

  /* 공통메인 */
  /* 공통메인 */
  /* 공통메인 */
  .promotion_wrap > div {
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .promotion_wrap > div h1 {
    font-size: 2.5em !important;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    margin: 30px 0;
  }
  .promotion_wrap > div h2 {
    font-size: 2em !important;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
  }
  .promotion_wrap > div h3 {
    font-size: 1em !important;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
  }
  .promotion_wrap > div h4 {
    font-size: 2em !important;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px gray, 0px 0px 10px white;
    border: 5px outset lightgray;
    width: 70% !important;
    height: 20% !important;
    margin: 50px auto;
  }
  .promotion_wrap > img {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .s_arti1_bg1,
  .s_arti1_bg2,
  .s_arti1_bg3 {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .s_arti1_bg1:after,
  .s_arti1_bg2:after,
  .s_arti1_bg3:after {
    content: "";
    background-image: url(../img/pro_rap_img2.jpg);
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover !important;
    opacity: 0.3;
    filter: alpha(opacity=50);
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .s_arti1_bg1:after {
    background-image: url(../img/pro_dry_img2.jpg);
    opacity: 0.8 !important;
  }
  .s_arti1_bg2:after {
    background-image: url(../img/pro_dry_img2.jpg);
    opacity: 0.8 !important;
  }
  .s_arti1_bg3:after {
    background-image: url(../img/pro_dry_img1.jpg);
    opacity: 0.8 !important;
  }
  .s_arti1_bg h6 {
    width: 12%;
    height: 10%;
    background-image: url(../img/por_moving-27353_640.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 3px double rgba(80, 80, 80, 0.753);
    border-radius: 100%;
    background-color: rgba(172, 172, 172, 0.616);
    position: absolute;
    right: 3%;
    box-shadow: 2px 5px 5px black;
    bottom: 3%;
    opacity: 0;
  }

  /* 공통메인 */
  /* 공통메인 */
  /* 공통메인 */
  .promotion_wrap > div {
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .promotion_wrap > div h1 {
    font-size: 3.5em !important;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
  }
  .promotion_wrap > div h2 {
    font-size: 2em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
  }
  .promotion_wrap > div h3 {
    font-size: 2em !important;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
  }
  .promotion_wrap > div h4 {
    font-size: 2em;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px gray, 0px 0px 10px white;
    border: 5px outset lightgray;
    width: 80% !important;
    height: 40%;
    margin: 50px auto;
  }
}

/* 공통 메인 */
/* 공통 메인 */
/* 공통 메인 */
/* 공통 메인 */
/* 공통 메인 */
.promotion {
  width: 100vw;
  height: 100vh;
}
.promotion_wrap {
  width: 100%;
  height: 100%; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background-color: black;
  position: relative;
}
.promotion_wrap > div {
  width: 60vw;
  height: 60vh;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.promotion_wrap > div h1 {
  font-size: 3em;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
.promotion_wrap > div h2 {
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
.promotion_wrap > div h3 {
  font-size: 1em;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
.promotion_wrap > div h4 {
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 5px gray, 0px 0px 10px white;
  border: 5px outset lightgray;
  width: 40%;
  height: 40%;
  margin: 50px auto;
}
.promotion_wrap > img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
}
